@page "/fetchdata"
@using AtCoderHeuristicDeck.Core
@inject HttpClient Http

<PageTitle>レーティング取得テスト</PageTitle>

<h1>レーティング取得テスト</h1>

@if (history == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@history.UserName</p>
    <p>@history.Rating</p>
    <table class="table">
        <thead>
            <tr>
                <th>perf</th>
                <th>contest</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var perf in history.Performances)
            {
                <tr>
                    <td>@perf.Value</td>
                    <td>@perf.ContestName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ContestHistory? history;

    protected override async Task OnInitializedAsync()
    {
        history = await Http.GetFromJsonAsync<ContestHistory>("api/user/terry_u16");
    }
}
